[submodule "personal_wakeup_hacs"]
	path = personal-wakeup
	url = git@github.com:mvheimburg/personal-wakeup.git
[submodule "lovelace-personal-wakeup-card"]
	path = lovelace-personal-wakeup
	url = git@github.com:mvheimburg/lovelace-personal-wakeup.git
[submodule "time-for-school"]
	path = time-for-school
	url = git@github.com:mvheimburg/time-for-school.git
[submodule "lovelace-time-for-school"]
	path = lovelace-time-for-school
	url = git@github.com:mvheimburg/lovelace-time-for-school.git
