[submodule "personal_wakeup_hacs"]
	path = personal-wakeup
	url = git@github.com:mvheimburg/personal-wakeup.git
[submodule "lovelace-personal-wakeup-card"]
	path = lovelace-personal-wakeup
	url = git@github.com:mvheimburg/lovelace-personal-wakeup.git
[submodule "time-for-school"]
	path = time-for-school
	url = git@github.com:mvheimburg/time-for-school.git
[submodule "lovelace-time-for-school"]
	path = lovelace-time-for-school
	url = git@github.com:mvheimburg/lovelace-time-for-school.git
[submodule "house-state"]
	path = house-state
	url = git@github.com:mvheimburg/house-state.git
[submodule "lovelace-house-state"]
	path = lovelace-house-state
	url = git@github.com:mvheimburg/lovelace-house-state.git
[submodule "lovelace-ajax"]
	path = lovelace-ajax
	url = git@github.com:mvheimburg/lovelace-ajax.git
[submodule "lovelace-appliance-panel"]
	path = lovelace-appliance-panel
	url = git@github.com:mvheimburg/lovelace-appliance-panel.git
[submodule "lovelace-heatpump"]
	path = lovelace-heatpump
	url = https://github.com/mvheimburg/lovelace-heatpump.git
[submodule "appliance-presets"]
	path = appliance-presets
	url = https://github.com/mvheimburg/appliance-presets.git
[submodule "doorbell-integration"]
	path = doorbell-integration
	url = https://github.com/mvheimburg/doorbell-integration.git
